[submodule "apps/counter/lib/forge-std"]
	path = apps/counter/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "apps/sendora-contracts/lib/openzeppelin-contracts"]
	path = apps/sendora-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "apps/sendora-contracts/lib/safe-contracts"]
	path = apps/sendora-contracts/lib/safe-contracts
	url = https://github.com/safe-global/safe-contracts
[submodule "apps/sendora-contracts/lib/solady"]
	path = apps/sendora-contracts/lib/solady
	url = https://github.com/vectorized/solady
